.ProductCard {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;

    img {
        max-width: 250px;
        max-height: 250px;
        padding: 10px;
    }
}